# Compiled output
ips-front/dist
ips-front/tmp
ips-front/out-tsc
ips-front/bazel-out

# Node
ips-front/node_modules
ips-front/npm-debug.log
ips-front/yarn-error.log

# IDEs and editors
IPS_authorization-develop/.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

